@media (min-width: 992px) and (max-width: 1199px) {
    /* header css */
    nav.header-menu ul li a {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (max-width: 991px) {
    /* header css */
    .toggle-menu {
        display: inline-block;
    }
    .header-menu {
        display: none;
    }
}